langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-mcp-adapters==0.1.7
langchain-openai==0.3.22
langchain-text-splitters==0.3.8
langgraph==0.4.8
langgraph-checkpoint==2.0.26
langgraph-prebuilt==0.2.2
langgraph-sdk==0.1.70
langsmith==0.3.45
