extends: default
ignore:
  - "**/.venv/**"
  - "**/pnpm-lock.yaml"
rules:
  document-start:
    present: false
  line-length:
    max: 1024
  new-lines:
    type: unix
  new-line-at-end-of-file: enable
  octal-values:
    forbid-implicit-octal: true
  quoted-strings:
    required: only-when-needed
    quote-type: double
  truthy:
    check-keys: false
